
<div class="main-container">

  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('experts.jpg') %>);">
    <div class="container">
      <h1><strong> FIND MY EXPERT </strong> </h1>

      <p><strong>For people who take safety seriously</strong> </p>
      <h2> Hire an Expert/Propose your Expertise</h2>

  <%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-success" %>
  <%= link_to 'Log In', new_user_session_path, class: "btn btn-primary" %>
    </div>
  </div>

  <div class="body d-flex justify-content-around">
    <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-screen-desktop m-auto text-primary"></i>
            </div>
            <h3>Security</h3>
            <p class="lead mb-0">Experts with strong experience in protecting sensitive sites for private cliuents and governments</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-layers m-auto text-primary"></i>
            </div>
            <h3>Safety</h3>
            <p class="lead mb-0">Find the best experts to protect facilities and people from fire and technolic risks </p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-check m-auto text-primary"></i>
            </div>
            <h3>Cybersecurity</h3>
            <p class="lead mb-0">We have people with an IT background to improve the strength of your networks</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  </div>
</div>

