.card-product {
  overflow: hidden;
  height: 120px;
  width: 350px;
  background: #146CB5;
  background: radial-gradient(circle, rgba(20,108,181,1) 0%, rgba(85,141,190,1) 50%);
  box-shadow: 0 0 25px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  padding: 5px;
  color: white;
  margin: 10px;
  border-radius: 10px;
}

.card-product img {
    height: 50px;
    width: 50px;
    padding: 5px;
    margin-left: 10px;
    object-fit: cover;
}

.card-product a {
  font-size: 24px;
  font-weight: bold;
  font-family: arial, sans-serif;
  padding: 16px;
  color: #575C61;
  margin: 15px;
  text-decoration: none;
  background: #F3F3EB;
  border-radius: 10px;
  padding: 15px;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 6px;
  color: gray;
  text-decoration: none;
  margin: 5px;
  color: white;
}
