.h1-in-pages {
  color: gray;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

.align-center-navbar {
  justify-content: center;
}

.map {
  height: 100vh;
  position: sticky;
  top: 0;
  background-color: black;
}

.margin-button-index-expertise {
  margin-top: 50px;
}

