.map {
  right: 0;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: -1;
  margin: 50px;

}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
