<h1>Missions#index</h1>
<% @missions.each do |mission| %>
<%= @category %>
<%= mission.price %>
<%= mission.status %>

<% end %>

 <%= link_to 'Add a new mission!', new_mission_path, class: "btn btn-primary" %>
