<h3>Do want to add a mission?</h3>
<p>please fill</p>

<%= simple_form_for [@expertise, @mission] do |f| %>
  <%= f.input :starting_date %>
  <%= f.input :end_date %>
  <%= f.submit class: "btn btn-primary"%>
<% end %>

