<div class="container">
  <div class="row">
   <div class="col-12">

    <h3 class="h1-in-pages text-center">Would you like to add a mission?</h3>
    <p>Please complete:</p>
    <div class="narrow-form">

      <%= simple_form_for [@expertise, @mission] do |f| %>
        <%= f.input :starting_date %>
        <%= f.input :end_date %>
        <%= f.submit class: "btn btn-primary"%>
      <% end %>
    </div>

    </div>
  </div>
</div>


