<div class="container">
  <div class="row">
   <div class="col-12">

    <h2 class="h1-in-pages text-center">Congratulations!</h2>

    <p>You have booked a mission from: <%= @mission.starting_date %> to: <%= @mission.end_date %></p>

    <p> The total cost of your mission is: <%= @mission.price %> €</p>

    </div>
  </div>
</div>

